@using DataManager.Model;
@model DataManager.Model.Category

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditCategory</h2>
@using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Category</legend>
        <p>
            Title:<br />
            @Html.EditorFor(model => model.Title)
        </p>
        <p>
            Description:<br />
            @Html.EditorFor(model => model.Description)
        </p>
        <p>
            <table>
                <thead><tr><th>Belong To (CategoryTypes:):</th><th>Included In (Categories:):</th></tr></thead>
                <tr><td>
                    @{
                        List<CategoryType> categorytypes = ViewBag.CategoryTypes;
                        foreach (CategoryType item in categorytypes)
                        {
                            <input type="checkbox" name="selected" value="@item.Id"
                            @(Model.CategoryTypes.Contains(item) ? "checked=\" checked\"" : "") />@item.Title<br />
                        }
                    }
                    </td>
                    <td>
                    @{
                        List<Category> categories = ViewBag.Categories;
                        foreach (Category item in categories)
                        {
                            <input type="checkbox" name="selected2" value="@item.Id"
                            @(Model.ParentCategories.Contains(item) ? "checked=\" checked\"" : "") />@item.Title<br />
                        }
                    }
                </td></tr>
            </table>
        </p>
        <p>
            <div class="editor-label">Image</div>
            <div class="editor-field">
                @if (Model.Image == null)
                {
                    @:None
                }
                else
                {
                    <img width="150" height="150" src="@Url.Action("GetCategoryImage", "Admin", new { Model.Id})" />
                }
                <div>
                    Upload new image:
                    <input type="file" name="Image" />
                </div>
            </div>
        </p>
        <input type="submit" value="Confirm Changes" />
        <br /><br />
        @Html.ActionLink(" < BACK TO CATEGORIES LIST ", "CategoriesList", "Admin", new { @class = "inTableLink" })
    </fieldset>
}