@model MVCGUI.Models.GoodListView

@{
    ViewBag.Title = "GoodsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ Html.RenderAction("AdminMenu", "AdminMenu"); }

<br />
<h2>GoodsList</h2>

<!--КНОПКА СОЗДАНИЯ ТОВАРА-->
<div class="menuitem">
    @Html.RouteLink("Create Good", 
                    new{controller = "Admin",action = "CreateGood"},
                    new {@id = "creategood", data_dialog_title = "Create Good" })
</div>

<!--ФОРМА ВЫБОРА КАТЕГОРИИ-->
<p>
    @using (Html.BeginForm("GoodsList", "Admin", FormMethod.Post))
    {
        <table style=" border:none;">
            <tr style=" border:none;">
                <td style=" border:none;">
                    <span style="font-size:12px; font-weight:400;">ParentCategory:</span>
                    @Html.DropDownList("parentcat", ViewBag.ParentCategories as SelectList, "-- ALL --")
                     <span style="padding-left:50px;"><input type="submit" value="     Apply     " /></span>
                </td>
                <td style="text-align:right; border:none;   ">
                    @Html.ActionLink(" FULL GOODS LIST ", "GoodsList", "Admin", new { @class = "inTableLink" })
                </td>
            </tr>
        </table>
    }
</p>

<!--ГЛАВНАЯ ТАБЛИЦА-->
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Categories</th>
            <th>OPTIONS</th>
        </tr>

    </thead>
    @foreach (var item in Model.Goods)
    {
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.Title, "EditGood", new { item.Id }, new { @class = "inTableLink" })</td>
            <td>@item.Amount</td>
            <td>@item.Description</td>
            <td>
                <ul>
                    @foreach (var item2 in item.Categories)
                    {
                        <li>@item2.Title</li>
                    }
                </ul>
            </td>
            <!--<td>@Html.ActionLink("Delete", "DeleteGood", new { id = item.Id }, new { @class = "inTableLink" })</td>-->
            <td>
                <div class="menuiteminTable">
                    @Html.RouteLink("Delete",
                    new { controller = "Admin", action = "DeleteGood", id = item.Id },
                    new { @class = "deletegood", data_dialog_title = "Delete Good" })
                </div>
            </td>
        </tr>
    }
</table>

<!--СТРАНИЦЫ-->
<div class="pager">
    @Html.PageLinks(Model.paginginfo, x => Url.Action("GoodsList", new { page = x, parentcat = Model.parentcat }))
</div>

<script>    //!!!! перед тем как убрать комментарий Url.Action -добавить собаку!!!!
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });
        //открываем диалог создания товара
        $("#creategood").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
            .addClass("dialog")
            .appendTo("body")
            .load(this.href)
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() },
                modal: true,
                position: [200, 200],
                width: 700,
                buttons:{

                }
            });
        });

        //кнопка сохранения товара и закрытия соответствующего диалога
        $("#savebutton").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("destroy");
        });

        //открываем диалог удаления товара
        $(".deletegood").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
            .addClass("dialog")
            .appendTo("body")
            .load(this.href)
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() },
                modal: true,
                position: [200, 200],
                width: 300,
                buttons: {}
            });
        });
        //кнопка удаления товара и закрытия соответствующего диалога
        $("#deletebutton").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("destroy");
        });

        //закрывает любой диалог
        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("destroy");
        });


    });
</script>