@model MVCGUI.Models.CategoryListView

@{
    ViewBag.Title = "CategoriesList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@{ Html.RenderAction("AdminMenu", "AdminMenu"); }
<br />
<br />
<!--КНОПКА СОЗДАНИЯ ТОВАРА-->
<div class="menuitem">
    @Html.RouteLink("Добавить категорию",
                    new { controller = "Admin", action = "CreateCategory" },
                    new { @id = "createcategory", data_dialog_title = "Добавить категорию" })
</div>
<p>
    @using (Html.BeginForm("CategoriesList", "Admin", FormMethod.Post))
    {
        <table style=" border:none;">
            <tr style=" border:none;">
                <td style=" border:none;">
                    <span style="font-size:12px; font-weight:400;">ParentCategory:</span>
                    @Html.DropDownList("parentcat", ViewBag.ParentCategories as SelectList, "-- ALL --")
                    <span style="font-size:12px; font-weight:400;">CategoryType:</span>
                    @Html.DropDownList("cattype", ViewBag.CategoryTypes as SelectList, "-- ALL --")
                    <span style = "padding-left:50px;"><input type="submit" value="     Apply     " /></span>
                </td>
                <td style="text-align:right; border:none;   ">
                    @Html.ActionLink(" FULL CATEGORIES LIST ", "CategoriesList", "Admin", new { @class = "inTableLink" })
                </td>
            </tr>
        </table>
    }
</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Included In</th>
            <th>CategoryTypes</th>
            <th>OPTIONS</th>
        </tr>

    </thead>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.Title, "EditCategory", new { item.Id }, new { @class = "inTableLink" })</td>
            <td>@item.Description</td>
            <td>
                <ul>
                    @foreach (var item3 in item.ParentCategories)
                    {
                        <li>@item3.Title</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var item2 in item.CategoryTypes)
                    {
                        <li>@item2.Title</li>
                    }
                </ul>
            </td>
            <td>@Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "inTableLink" })</td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.paginginfo, x => Url.Action("CategoriesList", new { page = x, cattype = Model.cattype, parentcat = Model.parentcat }))
</div>

