@model MVCGUI.Models.CategoryListView

@{
    ViewBag.Title = "CategoriesList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--КНОПКА СОЗДАНИЯ ПОЗИЦИИ-->
<div class="menuitem">
    @Html.RouteLink("Новая категория",
                    new { controller = "Admin", action = "CreateCategory" },
                    new { @id = "createcategory", data_dialog_title = "Добавить категорию" })
</div>

<!--ФИЛЬТР ПОЗИЦИЙ-->
<p>
    @using (Html.BeginForm("CategoriesList", "Admin", FormMethod.Post))
    {
        <table style=" border:none;">
            <tr style=" border:none;">
                <td style=" border:none;">
                    <span style="font-size:12px; font-weight:400;">Родительская категория: </span>
                    @Html.DropDownList("parentcat", ViewBag.ParentCategories as SelectList, "-- ВСЕ --")
                    <span style="font-size:12px; font-weight:400;">Тип категории: </span>
                    @Html.DropDownList("cattype", ViewBag.CategoryTypes as SelectList, "-- ВСЕ --")
                    <span style = "padding-left:50px;"><input type="submit" value="     Применить     " /></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:right; border:none;   ">
                    @Html.ActionLink(" ПОЛНЫЙ ПЕРЕЧЕНЬ ", "CategoriesList", "Admin", new { @class = "inTableLink" })
                </td>
            </tr>
        </table>
    }
</p>

<!--ГЛАВНАЯ ТАБЛИЦА-->
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Родительская категория</th>
            <th>Тип категории</th>
            <th><b>ОПЦИИ</b></th>
        </tr>

    </thead>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>@item.Id</td>
            <td>
                <div class="menuiteminTable">
                    @Html.RouteLink(item.Title,
                                    new { controller = "Admin", action = "EditCategory", id = item.Id },
                                    new { @class = "editcategory", data_dialog_title = "Редактирование категории" })
                </div>
            </td>
            <td>@item.Description</td>
            <td>
                <ul>
                    @foreach (var item3 in item.ParentCategories)
                    {
                        <li>@item3.Title</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var item2 in item.CategoryTypes)
                    {
                        <li>@item2.Title</li>
                    }
                </ul>
            </td>
            <td>
                <div class="menuiteminTable">
                    @Html.RouteLink("Удалить",
                                new { controller = "Admin", action = "DeleteCategory", id = item.Id },
                                new { @class = "deletecategory", data_dialog_title = "Удаление категории" })
                </div>
            </td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.paginginfo, x => Url.Action("CategoriesList", new { page = x, cattype = Model.cattype, parentcat = Model.parentcat }))
</div>

<!--СКРИПТЫ-->
<script>
    //!!!! перед тем как убрать комментарий Url.Action -добавить собаку!!!!
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });
        //СОЗДАНИЕ ПОЗИЦИИ
        //открываем диалог создания товара
        $("#createcategory").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({   title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 700, buttons: {}});
        });
        //кнопка сохранения товара и закрытия соответствующего диалога
        $("#savebutton").on("click", function (e) {e.preventDefault();$(this).closest(".dialog").dialog("destroy");});

        //УДАЛЕНИЕ ПОЗИЦИИ
        //открываем диалог удаления товара
        $(".deletecategory").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({   title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 300, buttons: {}});
        });
        //кнопка удаления товара и закрытия соответствующего диалога
        $("#deletebutton").on("click", function (e) { e.preventDefault(); $(this).closest(".dialog").dialog("destroy"); });

        //РЕДАКТИРОВАНИЕ ПОЗИЦИИ
        //открываем диалог редактирования товара
        $(".editcategory").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 700, buttons: {}
            });
        });
        //для кнопки сохранения изменений применяется тотже обработчик что и для кнопки сохранения новой позиции, только
        //post запрос она отправить в метод контроллера который создал эту форму, т.е. в метод EditGood
        //закрывает любой диалог
        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("destroy");
        });


    });
</script>