@using DataManager.Model;
@model DataManager.Model.Good

@{
    ViewBag.Title = "CreateGood";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create Good</h2>
@using (Html.BeginForm("CreateGood", "Admin", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <fieldset>
        <legend>Good</legend>
        <p>
            Title:<br />
            @Html.EditorFor(model => model.Title)
        </p>
        <p>
            Description:<br />
            @Html.EditorFor(model => model.Description)
        </p>
        <p>
            Amount:<br />
            @Html.EditorFor(model => model.Amount)
        </p>
        <p>
            Categories:<br />
            @{
                List<Category> categories = ViewBag.Categories;
                foreach (Category c in categories)
                {
                                <input type="checkbox" name="selected" value="@c.Id" />@c.Title<br />
                }
            }
        </p>
        <p>
            <div class="editor-label">Image</div>
            <div class="editor-field">
                Upload image:
                <table id="images">
                    <tr>
                        <td>
                            <input type="file" name="Image" />
                        </td>
                    </tr>
                </table>
                <div id="addimagebutton" class="inTableLink">Add Image</div>
            </div>
        </p>
        <input type="submit" value="Save" />
        <br /><br />
        @Html.ActionLink(" < BACK TO GOODS LIST ", "GoodsList", "Admin", new { @class = "inTableLink" })
    </fieldset>
}