@using DataManager.Model;
@model DataManager.Model.Category

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateCategory</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Category</legend>
        <p>
            Title:<br />
            @Html.EditorFor(model => model.Title)
        </p>
        <p>
            Description:<br />
            @Html.EditorFor(model => model.Description)
        </p>
        <p>
            <table>
                <thead><tr><th>Belong To (CategoryTypes:):</th><th>Included In (Categories:):</th></tr></thead>
                <tr><td>
                    @{
                        List<CategoryType> categorytypes = ViewBag.CategoryTypes;
                        foreach (CategoryType item in categorytypes)
                            {
                                <input type="checkbox" name="selected" value="@item.Id" />@item.Title<br />
                            }
                    }
                    </td>
                    <td>
                    @{
                        List<Category> categories = ViewBag.Categories;
                        foreach (Category item in categories)
                        {
                            <input type="checkbox" name="selected2" value="@item.Id" />@item.Title<br />
                        }
                    }
                </td></tr>
            </table>
        </p>
        <input type="submit" value="Save" />
        <br /><br />
        @Html.ActionLink(" < BACK TO CATEGORIES LIST ", "CategoriesList", "Admin", new { @class = "inTableLink" })
    </fieldset>
}
