@using DataManager.Model
@model  MVCGUI.Models.DiscountListView

@{
    ViewBag.Title = "DiscountsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ Html.RenderAction("AdminMenu", "AdminMenu"); }


<h2>DiscountsList</h2>
<p>
    @Html.ActionLink("Create Discount", "CreateDiscount", null, new { @class = "menuitem" })
</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Goods</th>
            <th>BeginDate</th>
            <th>EndDate</th>
            <th>DiscountRate</th>
        </tr>

    </thead>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Id</td>
            <td><table><tr>
                           <td>
                               <ul>
                                   @foreach (Good item2 in item.Goods)
                                   {
                                       <li>@item2.Title</li>
                                   }
                               </ul>
                           </td>
                           <td>
                               @Html.ActionLink("Edit", "EditDiscount", new { item.Id }, new { @class = "inTableLink" })
                           </td>
                </tr></table>
            </td>
            <td>@item.BeginDate</td>
            <td>@item.EndDate</td>
            <td>@item.DiscountRate</td>
            <td>@Html.ActionLink("Delete", "DeleteDiscount", new { id = item.Id }, new { @class = "inTableLink" })</td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.paginginfo, x => Url.Action("DiscountsList", new { page = x }))
</div>
