@model MVCGUI.Models.GoodListView

@{
    ViewBag.Title = "GoodsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GoodsList</h2>
<p>
    @Html.ActionLink("Create Good", "CreateGood", null, new { @class = "menuitem" })
</p>
<p>
    @using (Html.BeginForm("GoodsList", "Admin", FormMethod.Post))
    {
        <table style=" border:none;">
            <tr style=" border:none;">
                <td style=" border:none;">
                    <span style="font-size:12px; font-weight:400;">ParentCategory:</span>
                    @Html.DropDownList("parentcat", ViewBag.ParentCategories as SelectList, "-- ALL --")
                     <span style="padding-left:50px;"><input type="submit" value="     Apply     " /></span>
                </td>
                <td style="text-align:right; border:none;   ">
                    @Html.ActionLink(" FULL GOODS LIST ", "GoodsList", "Admin", new { @class = "inTableLink" })
                </td>
            </tr>
        </table>
    }
</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Categories</th>
            <th>OPTIONS</th>
        </tr>

    </thead>
    @foreach (var item in Model.Goods)
    {
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.Title, "EditGood", new { item.Id }, new { @class = "inTableLink" })</td>
            <td>@item.Amount</td>
            <td>@item.Description</td>
            <td>
                <ul>
                    @foreach (var item2 in item.Categories)
                    {
                        <li>@item2.Title</li>
                    }
                </ul>
            </td>
            <td>@Html.ActionLink("Delete", "DeleteGood", new { id = item.Id }, new { @class = "inTableLink" })</td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.paginginfo, x => Url.Action("GoodsList", new { page = x, parentcat = Model.parentcat }))
</div>
