@model MVCGUI.Models.GoodListView

@{
    ViewBag.Title = "GoodsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@{ Html.RenderAction("AdminMenu", "AdminMenu"); }
<br />
<br />
<!--КНОПКА СОЗДАНИЯ ТОВАРА-->
<div class="menuitem">
    @Html.RouteLink("Добавить позицию", 
                    new{controller = "Admin",action = "CreateGood"},
                    new {@id = "creategood", data_dialog_title = "Добавить позицию" })
</div>

<!--ФОРМА ВЫБОРА КАТЕГОРИИ-->
<p>
    @using (Html.BeginForm("GoodsList", "Admin", FormMethod.Post))
    {
        <table style=" border:none;">
            <tr style=" border:none;">
                <td style=" border:none;">
                    <span style="font-size:12px; font-weight:400;">Категория:</span>
                        @Html.DropDownList("parentcat", ViewBag.ParentCategories as SelectList, "-- ВСЕ --")
                    <span style="padding-left:50px;"><input type="submit" value = "     Выбрать     " /></span>
                </td>
                <td style="text-align:right; border:none;   ">
                    @Html.ActionLink(" ПОЛНЫЙ ПЕРЕЧЕНЬ ", "GoodsList", "Admin", new { @class = "inTableLink" })
                </td>
            </tr>
        </table>
    }
</p>

<!--ГЛАВНАЯ ТАБЛИЦА-->
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Описание</th>
            <th>Категории</th>
            <th>ОПЦИИ</th>
        </tr>

    </thead>
    @foreach (var item in Model.Goods)
    {
        <tr>
            <td>@item.Id</td>
            <td>
                <div class="menuiteminTable">
                    @Html.RouteLink(@item.Title,
                    new { controller = "Admin", action = "EditGood", id = item.Id },
                    new { @class = "editgood", data_dialog_title = "Редактирование позиции" })
                </div>
            </td>
            <td>@item.Amount</td>
            <td>@item.Description</td>
            <td>
                <ul>
                    @foreach (var item2 in item.Categories)
                    {
                        <li>@item2.Title</li>
                    }
                </ul>
            </td>
            <td>
                <div class="menuiteminTable">
                    @Html.RouteLink("Удалить",
                    new { controller = "Admin", action = "DeleteGood", id = item.Id },
                    new { @class = "deletegood", data_dialog_title = "Удаление позиции" })
                </div>
            </td>
        </tr>
    }
</table>

<!--СТРАНИЦЫ-->
<div class="pager">
    @Html.PageLinks(Model.paginginfo, x => Url.Action("GoodsList", new { page = x, parentcat = Model.parentcat }))
</div>

<!--СКРИПТЫ-->
<script>    //!!!! перед тем как убрать комментарий Url.Action -добавить собаку!!!!
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });
        //СОЗДАНИЕ ПОЗИЦИИ
        //открываем диалог создания товара
        $("#creategood").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({   title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 700, buttons: {}});
        });
        //кнопка сохранения товара и закрытия соответствующего диалога
        $("#savebutton").on("click", function (e) {e.preventDefault();$(this).closest(".dialog").dialog("destroy");});

        //УДАЛЕНИЕ ПОЗИЦИИ
        //открываем диалог удаления товара
        $(".deletegood").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({   title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 300, buttons: {}});
        });
        //кнопка удаления товара и закрытия соответствующего диалога
        $("#deletebutton").on("click", function (e) { e.preventDefault(); $(this).closest(".dialog").dialog("destroy"); });

        //РЕДАКТИРОВАНИЕ ПОЗИЦИИ
        //открываем диалог редактирования товара
        $(".editgood").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 700, buttons: {}
            });
        });
        //для кнопки сохранения изменений применяется тотже обработчик что и для кнопки сохранения новой позиции, только 
        //post запрос она отправить в метод контроллера который создал эту форму, т.е. в метод EditGood



        //закрывает любой диалог
        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("destroy");
        });


    });
</script>