@model IEnumerable<DataManager.Model.Good>

@{
    ViewBag.Title = "GoodsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GoodsList</h2>
<p>
    @Html.ActionLink("Create Good", "CreateGood", null, new { @class = "menuitem" })
</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Description</th>
            <th>OPTIONS</th>
        </tr>

    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.Title, "EditGood", new { item.Id }, new { @class = "inTableLink" })</td>
            <td>@item.Amount</td>
            <td>@item.Description</td>
            <td>@Html.ActionLink("Delete", "DeleteGood", new { id = item.Id }, new { @class = "inTableLink" })</td>
        </tr>
    }
</table>
