@using DataManager.Model;
@model DataManager.Model.Good

@using (Html.BeginForm("EditGood", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <div class="editor-label">Наименование</div>
        @Html.EditorFor(model => model.Title)
    </p>
    <p>
        <div class="editor-label">Описание</div>
        @Html.EditorFor(model => model.Description)
    </p>
    <p>
        <div class="editor-label">Количество</div>
        @Html.EditorFor(model => model.Amount)
    </p>
    <p>
        <div class="editor-label">Категории</div>
        @{
            List<Category> categories = ViewBag.Categories;
            foreach (Category item in categories){
                <input type="checkbox" name="checkbselected" value="@item.Id"
                @(Model.Categories.Contains(item) ? "checked=\"checked\"" : "") />@item.Title<br />
            }
        }
    </p>
    <p>
        <div class="editor-label">Изображения</div>
        @{
            <table id="images">
                <thead>
                    <tr>
                        <th>Изображение (с отметкой главное/неглавное)</th>
                        <th>ОПЦИИ</th>
                    </tr>
                </thead>
                @foreach (Image im in Model.Images)
                {
                    <tr>
                        <td>
                            <input type="radio" name="radioselected"
                                    @(@im.IsMain == true ? "checked=\" checked\"" : "") 
                                    value=@im.Id />
                            <input id="ImageStartNumber" type="hidden" name="imageids" value=@im.Id />
                            <img height="50" src="@Url.Action("GetImage", "Admin", new { im.Id })" />
                        </td>
                        <td>
                            <input type="button" id="deleteimage" value="Удалить">
                        </td>
                    </tr>
                }
                        

                <tr>
                    <td>
                        <input type="button" id="addimage" value="Добавить изображение">
                    </td>
                </tr>
            </table>
        }
    </p>
    <div class="savebuttonarea">
        <input type="submit" value="Сохранить" id="savebutton" />
    </div>
}


<input id="ImageStartNumber" type="hidden" value=@ViewBag.ImageStartNumber />

<!--СКРИПТЫ-->
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });
    });

    var i = document.getElementById("ImageStartNumber").value;
    /*var i = 10;*/
    /*<input type="radio" name="radioselected" value="' + i + '"" />\*/
    $(document).ready(function () {
        //кнопка добавления файла
        $('#images').on('click', '#addimage', function () {
            $(this).closest('tr').before('\
                <tr>\
                <td >\
                    <input type="file" name="newfiles" />\
                </td>\
                <td><input type="button" id="deleteimage" value="Удалить"></td>\
                </tr>');
            i++;
        });

        //кнопка удаления файла
        $('table').on('click', '#deleteimage', function () {
            $(this).closest('tr').remove();
        });
    });
</script>