@using DataManager.Model;
@model DataManager.Model.Good

@using (Html.BeginForm("EditGood", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <p>
            <div class="editor-label">Наименование</div>
            @Html.EditorFor(model => model.Title)
        </p>
        <p>
            <div class="editor-label">Описание</div>
            @Html.EditorFor(model => model.Description)
        </p>
        <p>
            <div class="editor-label">Количество</div>
            @Html.EditorFor(model => model.Amount)
        </p>
        <p>
            <div class="editor-label">Категории</div>
            @{
                List<Category> categories = ViewBag.Categories;
                foreach (Category item in categories)
                {
                    <input type="checkbox" name="selected" value="@item.Id"
                           @(Model.Categories.Contains(item) ? "checked=\"checked\"" : "") />@item.Title<br />
                }
            }
        </p>
        <p>
            <div class="editor-label">Изображения</div>
            <table id="images">
             @if (Model.Images == null)
                {
                    @:None
                }
                else
                {
                    @foreach (Image item in Model.Images)
                    {
                        <tr>
                            <td>
                                <input type="radio" name="radioselected" checked="" value=""/>
                                <input id="ImageStartNumber" type="hidden" name="imageids" value=@item.Id />
                                <img width="150" height="150" src="@Url.Action("GetImage", "Admin", new {item.Id})" />
                            </td>
                            <td>
                                <input type="button" id="deleteimage" value="-">
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td>
                        <input type="button" id="addimage" value="ADD IMAGE">
                    </td>
                </tr>
            </table>
        </p>
    <input type="submit" value="Сохранить" id="savebutton" />
}


<input id="ImageStartNumber" type="hidden" value=@ViewBag.ImageStartNumber />


<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });
    });

    var i = document.getElementById("ImageStartNumber").value;
    /*var i = 10;*/

    $(document).ready(function () {
        //кнопка добавления файла
        $('#images').on('click', '#addimage', function () {
            $(this).closest('tr').before('\
                <tr>\
                <td >\
                    <input type="radio" name="radioselected" checked = "checked" value="' + i + '"" />\
                    <input type="file" name="newfiles" />\
                </td>\
                <td><input type="button" id="deleteimage" value="-"></td>\
                </tr>');
            i++;
        });

        //кнопка удаления файла
        $('table').on('click', '#deleteimage', function () {
            $(this).closest('tr').remove();
        });



    });
</script>