@using DataManager.Model;
@model DataManager.Model.Category

@using (Html.BeginForm("EditCategory", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <div class="editor-label">Наименование</div>
        @Html.EditorFor(model => model.Title)
    </p>
    <p>
        <div class="editor-label">Описание</div>
        @Html.EditorFor(model => model.Description)
    </p>
    <p>
        <table>
            <thead><tr><th>Является (тип категории)</th><th>Включена в (категория)</th></tr></thead>
            <tr>
                <td>
                    @{
                        List<CategoryType> categorytypes = ViewBag.CategoryTypes;
                        foreach (CategoryType item in categorytypes)
                        {
                            <input type="checkbox" name="selected" value="@item.Id" />@item.Title<br />
                        }
                    }
                </td>
                <td>
                    @{
                        List<Category> categories = ViewBag.Categories;
                        foreach (Category item in categories)
                        {
                            <input type="checkbox" name="selected2" value="@item.Id" />@item.Title<br />
                        }
                    }
                </td>
            </tr>
        </table>
    </p>
    <p>
        <div class="editor-label">Изображение</div>
        <div class="editor-field">
            <input type="file" name="Image" />
        </div>
    </p>
    <div class="savebuttonarea">
        <input type="submit" value="Сохранить" id="savebutton" />
    </div>
}

<!--СКРИПТЫ-->
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>