@model MVCGUI.Models.PurchaseListView

@{
    ViewBag.Title = "PurchasesList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@{ Html.RenderAction("AdminMenu", "AdminMenu"); }
<br />
<br />
<!--КНОПКА СОЗДАНИЯ ТОВАРА-->
<div class="menuitem">
    @Html.RouteLink("Новая закупка",
                    new { controller = "Admin", action = "CreatePurchase" },
                    new { @id = "createpurchase", data_dialog_title = "Новая закупка" })
</div>

<!--ФОРМА ВЫБОРА ТОВАРА-->
<p>
    @using (Html.BeginForm("PurchasesList", "Admin", FormMethod.Post))
    {
        <table style=" border:none;">
            <tr style=" border:none;">
                <td style=" border:none;">
                    <span style="font-size:12px; font-weight:400;">Позиция:</span>
                    @Html.DropDownList("good", ViewBag.Goods as SelectList, "-- ВСЕ --")
                    <span style="padding-left:50px;"><input type="submit" value="     Apply     " /></span>
                </td>
                <td style="text-align:right; border:none;   ">
                    @Html.ActionLink(" FULL PURCHASES LIST ", "PurchasesList", "Admin", new { @class = "inTableLink" })
                </td>
            </tr>
        </table>
    }
</p>

<!--ГЛАВНАЯ ТАБЛИЦА-->
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Date</td>
            <td>GoodTitle</td>
            <td>Amount</td>
            <td>PurchasePrice</td>
            <td><b>OPTIONS</b></td>
        </tr>
    </thead>
@foreach (var item in Model.Purchases)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>@Html.DisplayFor(modelItem => item.Date)</td>
        <td>
            <div class="menuiteminTable" style="width:300px;">
                @Html.RouteLink(@item.Good.Title,
                 new { controller = "Admin", action = "EditPurchase", id = item.Id },
                 new { @class = "editpurchase", data_dialog_title = "Редактирование закупки" })
            </div>
        </td>
        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
        <td>@Html.DisplayFor(modelItem => item.PurchasePricePerItem)</td>
        <td>
            <div class="menuiteminTable">
                @Html.RouteLink("Удалить",
                    new { controller = "Admin", action = "DeletePurchase", id = item.Id },
                    new { @class = "deletepurchase", data_dialog_title = "Удаление закупки" })
            </div>
        </td>
    </tr>
}
</table>
<div class="pager">
    @Html.PageLinks(Model.paginginfo, x => Url.Action("PurchasesList", new { page = x, good = Model.good }))
</div>

<script>
    //!!!! перед тем как убрать комментарий Url.Action -добавить собаку!!!!
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });
        //СОЗДАНИЕ ПОЗИЦИИ
        //открываем диалог создания товара
        $("#createpurchase").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({   title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 700, buttons: {}});
        });
        //кнопка сохранения товара и закрытия соответствующего диалога
        $("#savebutton").on("click", function (e) {e.preventDefault();$(this).closest(".dialog").dialog("destroy");});

        //УДАЛЕНИЕ ПОЗИЦИИ
        //открываем диалог удаления товара
        $(".deletepurchase").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({   title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 300, buttons: {}});
        });
        //кнопка удаления товара и закрытия соответствующего диалога
        $("#deletebutton").on("click", function (e) { e.preventDefault(); $(this).closest(".dialog").dialog("destroy"); });

        //РЕДАКТИРОВАНИЕ ПОЗИЦИИ
        //открываем диалог редактирования товара
        $(".editpurchase").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 700, buttons: {}
            });
        });
        //для кнопки сохранения изменений применяется тотже обработчик что и для кнопки сохранения новой позиции, только
        //post запрос она отправить в метод контроллера который создал эту форму, т.е. в метод EditGood



        //закрывает любой диалог
        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("destroy");
        });


    });
</script>