@model MVCGUI.Models.SaleListView

@{
    ViewBag.Title = "SalesList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--КНОПКА СОЗДАНИЯ ТОВАРА-->
<div class="menuitem">
    @Html.RouteLink("Новая продажа",
                    new { controller = "Admin", action = "CreateSale" },
                    new { @id = "createsale", data_dialog_title = "Добавить продажу" })
</div>
<p>
    @using (Html.BeginForm("SalesList", "Admin", FormMethod.Post))
    {
        <table style=" border:none;">
            <tr style=" border:none;">
                <td style=" border:none;">
                    <span style="font-size:12px; font-weight:400;">Позиция:</span>
                    @Html.DropDownList("good", ViewBag.Goods as SelectList, "-- ВСЕ --")
                    <span style="padding-left:50px;"><input type="submit" value="     Применить     " /></span>
                </td>
                <td style="text-align:right; border:none;   ">
                    @Html.ActionLink(" ПОЛНЫЙ ПЕРЕЧЕНЬ ", "SalesList", "Admin", new { @class = "inTableLink" })
                </td>
            </tr>
        </table>
    }
</p>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Дата продажи</th>
            <th>Позиция</th>
            <th>Количество</th>
            <th>Цена продажи</th>
            <th><b>ОПЦИИ</b></th>
        </tr>
    </thead>
    @foreach (var item in Model.Sales)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>
                <div class="menuiteminTable">
                    @Html.RouteLink(@item.Good.Title,
                      new { controller = "Admin", action = "EditSale", id = item.Id },
                     new { @class = "editsale", data_dialog_title = "Редактирование продажи" })
                </div>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>@Html.DisplayFor(modelItem => item.SalePricePerItem)</td>
            <td>
                <div class="menuiteminTable">
                    @Html.RouteLink("Удалить",
                    new { controller = "Admin", action = "DeleteSale", id = item.Id },
                    new { @class = "deletesale", data_dialog_title = "Удаление продажи" })
                </div>
            </td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.paginginfo, x => Url.Action("SalesList", new { page = x, good = Model.good }))
</div>

<script>
    //!!!! перед тем как убрать комментарий Url.Action -добавить собаку!!!!
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });
        //СОЗДАНИЕ ПОЗИЦИИ
        //открываем диалог создания товара
        $("#createsale").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({   title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 700, buttons: {}});
        });
        //кнопка сохранения товара и закрытия соответствующего диалога
        $("#savebutton").on("click", function (e) {e.preventDefault();$(this).closest(".dialog").dialog("destroy");});

        //УДАЛЕНИЕ ПОЗИЦИИ
        //открываем диалог удаления товара
        $(".deletesale").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({   title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 300, buttons: {}});
        });
        //кнопка удаления товара и закрытия соответствующего диалога
        $("#deletebutton").on("click", function (e) { e.preventDefault(); $(this).closest(".dialog").dialog("destroy"); });

        //РЕДАКТИРОВАНИЕ ПОЗИЦИИ
        //открываем диалог редактирования товара
        $(".editsale").on("click", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>").addClass("dialog").appendTo("body").load(this.href)
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() }, modal: true, position: [200, 200], width: 700, buttons: {}
            });
        });
        //для кнопки сохранения изменений применяется тотже обработчик что и для кнопки сохранения новой позиции, только
        //post запрос она отправить в метод контроллера который создал эту форму, т.е. в метод EditGood

        //закрывает любой диалог
        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("destroy");
        });
    });
</script>