@model IEnumerable<DataManager.Model.Sale>

@{
    ViewBag.Title = "SalesList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SalesList</h2>
<p>
    @Html.ActionLink("Create Sale", "CreateSale", null, new { @class = "menuitem" })
</p>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Date</td>
            <td>GoodTitle</td>
            <td>Amount</td>
            <td>PurchasePrice</td>
            <td><b>OPTIONS</b></td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.ActionLink(item.Good.Title, "EditSale", new { item.Id }, new { @class = "inTableLink" })</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>@Html.DisplayFor(modelItem => item.SalePricePerItem)</td>
            <td>@Html.ActionLink("Delete", "DeleteSale", new { id = item.Id }, new { @class = "inTableLink" })</td>
        </tr>
    }
</table>